label{
  text-align: end;
}
input, textarea{
  margin-bottom: .2rem;
}
.series_input_enabled{
  width: 3rem;
  margin-right: .25Rem;
}
.series_div{
  margin-left: -.7rem;
}
.page-title{
  text-align: center;
  color: #c12828;
}
.title-input{
  width: 40rem;
}

.artist-input{
  width: 20rem;
}

.aka-input{
  width: 40rem;
}

.datePlayedLabel{
  margin-left: 3.5rem;
}
button{
  margin-right: .2rem;
}
.button-div{
  margin-top: .5rem;
}

